<!-- empty cart  -->
<div class="container" *ngIf="allCart.length==0">
  <div class="row">
      <div class="col text-center">
<img  width="500px" src="https://cdn.dribbble.com/users/2046015/screenshots/4591856/first_white_girl_drbl.gif" alt="">
<h2 class="mt-2">Your cart was Empty....! Please Add your Products</h2>
<button class=" m-5 btn btn-dark" routerLink="">Shop more</button>
  </div>
</div>
</div>

<!-- cart with content  -->
<div class="container m-5"*ngIf="allCart.length!==0">
  <div class="row">
      <div class="col-6">
          <!-- table  -->
          <table class="border border-2 border-dark">
              <thead>
<tr class="border border-2 border-dark">
  <th class="border border-2 border-dark">Product Id</th>
  <th class="border border-2 border-dark">Name</th>
  <th class="border border-2 border-dark">Image</th>
  <th class="border border-2 border-dark">Quantity</th>
  <th class="border border-2 border-dark">Price</th>
  <th class="border border-2 border-dark">Action</th>
</tr>
              </thead>
              <tbody>
<tr class="border border-2 border-dark"*ngFor="let cart of allCart let i=index">
  <td class="border border-2 border-dark">{{i+1}}</td>
  <td class="border border-2 border-dark">{{cart.title}}</td>
  <td class="border border-2 border-dark"><img width="100px" height="100px" [src]="cart.image" alt=""></td>
  <td class="border border-2 border-dark">

    <div class="d-flex flex-row">
      <button class="btn fw-bolder "(click)="decrementcart(cart.id)" >-</button>
      <input class="form-control" type="text" [value]="cart.quantity" readonly>
      <button class="btn fw-bolder d-flex" (click)="incrementCart(cart.id)">+</button>

    </div>

  <td class="border border-2 border-dark">{{cart.grandTotal}}</td>
  <td class="border border-2 border-dark"><i class="fa-solid fa-trash"(click)="removeCartItem(cart.id)" ></i></td>
</tr>
              </tbody>
          </table>
      </div>
      <div class="col-6 card shadow my-5 p-3 ">
          <!-- summary  -->
          <h1 class="text-center fw-bolder">Product Details</h1>
          <h4>Price :{{totalprice}}</h4>
          <h3>Discount : 50%</h3>
          <h2>Your Grand Total :${{totalprice}}</h2>
     <hr>
     <div class="text-center">
     <button class="btn btn-success m-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">CheckOut</button>
    </div>
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Check Out Details</h1>
        <button type="button" (click)="modalclose()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 *ngIf="!paymentstatus" class="text-center" >Enter Your Address Details</h3>
        <form *ngIf="!paymentstatus" [formGroup]="addressform" (ngSubmit)="submitForm()">
        <div class="form-floating mb-3">

          <input  name="username" formControlName="username" type="text" class="form-control"  placeholder="Enter Your Name"required>
          <div *ngIf="
          this.addressform.get('username')?.errors &&
          this.addressform.get('username')?.touched
        " class="text-danger">
                    Invalid Data
                </div>
          <label >Enter Your Name</label>
        </div>
        <div class="form-floating mb-3">
          <input name="housenumber" formControlName="housenumber" type="text" class="form-control" placeholder="House Number"required>
          <div *ngIf="
          this.addressform.get('housenumber')?.errors &&
          this.addressform.get('housenumber')?.touched
        " class="text-danger">
                    Invalid Data
                </div>
          <label>House Number</label>
        </div>
        <div class="form-floating mb-3">
          <input name="street" formControlName="street" type="text" class="form-control" placeholder="Street Name" required>
          <div *ngIf="
          this.addressform.get('street')?.errors &&
          this.addressform.get('street')?.touched
        " class="text-danger">
                    Invalid Data
                </div>
          <label>Street Name</label>
        </div>
        <div class="form-floating mb-3">
          <input name="state" formControlName="state" type="text" class="form-control" placeholder="State" required>
          <div *ngIf="
          this.addressform.get('state')?.errors &&
          this.addressform.get('state')?.touched
        " class="text-danger">
                    Invalid Data
                </div>
          <label >State</label>
        </div>
        <div class="form-floating mb-3">
          <input name="pincode" formControlName="pincode" type="text" class="form-control" placeholder="Pincode" required>
          <div *ngIf="
          this.addressform.get('pincode')?.errors &&
          this.addressform.get('pincode')?.touched
        " class="text-danger">
                    Invalid Data
                </div>
          <label>Pincode</label>
        </div>
        <div class="form-floating mb-3">
          <input name="mobilenumber "  formControlName="mobilenumber" type="text" class="form-control" placeholder="Mobile Number" required>
          <div *ngIf="
          this.addressform.get('mobilenumber')?.errors &&
          this.addressform.get('mobilenumber')?.touched
        " class="text-danger">
                    Invalid Data
                </div>
          <label >Mobile Number</label>
        </div>
        <hr>
        <div>
          <h2 class="text-danger">Total Amount <i class="fa-solid fa-dollar-sign fa-flip"></i>{{totalprice}}</h2>
          <a (click)="offerClicked()" class="text-info">Offers <i class="fa-solid fa-tag fa-bounce"></i></a>
        </div>
        <!-- discount  -->
        <div *ngIf="offerClick && !discountStatus">
          <!-- 10% discount  -->
          <img  *ngIf="totalprice<300" (click)="discount(10)" width="100px" height="100px"  src="https://th.bing.com/th/id/R.2200583e7e7b71e4cfe1a3dd73e45b00?rik=7onIRfT8JIMYJg&riu=http%3a%2f%2fasme.internationalscienceediting.com%2fwp-content%2fuploads%2f2014%2f08%2f10percent-discount.gif&ehk=LYWoaNnJ4UJ2IqIVEuT8GxtNzNYpfCRIoYlR%2f66hec4%3d&risl=&pid=ImgRaw&r=0" alt="">
          <!-- 50% discount  -->
          <img *ngIf="totalprice>500" (click)="discount(50)" width="100px" height="100px"  src="https://www.pngkey.com/png/detail/92-929595_50-off-png-file-download-free-discount-50.png" alt="">
        </div>
        <hr>
        <!-- payment button  -->
        <div class="text-center">
          <button class="btn btn-success m-4" > Make Payment </button>
         </div>
      </form>
<!-- user details  -->
      <div *ngIf="paymentstatus">
<h5>User Address </h5>
<p>{{username}}</p>
<p>{{housenumber}}</p>
<p>{{pincode}}</p>
<p>{{phone}}</p>
<div class="text-center">
  <button (click)="makepay()" class="btn btn-success">Procced to Pay</button>
</div>
<div *ngIf="proceedtopay">
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div>

      </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>
    </div>
  </div>
</div>


