<!-- empty wishlist  -->
<div class="container"*ngIf="allwishlistItem.length==0">
  <div class="row">
      <div class="col text-center">
          <img  class="juust" src="https://2.bp.blogspot.com/-QfSOClZc8r0/XNr6srFlzjI/AAAAAAAAGlA/lzs505eFFiEdyAytzKkMabdUTihKywcqwCLcBGAs/s1600/EXAM360%2B-%2BNo%2BWishlist.png" alt="">
        <button class="btn btn-dark m-3" routerLink="" >Explore Now <i class="fa-sharp fa-solid fa-cart-plus fa-shake text-light" ></i></button>
      </div>
  </div>
</div>

<!-- Wishlist content -->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5"*ngIf="allwishlistItem.length!==0">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor=" let wish of allwishlistItem">
              <div class="card h-100 ">
                  <!-- Product image-->
                  <img class="card-img-top" style="width: 100%; height: 200px; margin: 10px;" [src]="wish.image" alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{wish.title}}</h5>
                          <!-- Product price-->
                          ${{wish.price}}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="d-flex justify-content-evenly mb-3">
                  <button class="btn me-3"(click)="deleteWishlist(wish.id)" > <i class="fa-sharp fa-solid fa-trash-can "></i></button>
                  <button class="btn me-3"(click)="addToCart(wish)"><i class="fa-sharp fa-solid fa-cart-plus f-fade text-success" ></i></button>
              </div>
                  <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</section>
