<!---banner-->
<div class="banner">
  <img width="100%"  height="500px" src="https://img.freepik.com/free-photo/front-view-cyber-monday-shopping-cart-with-bags-copy-space_23-2148657638.jpg?w=1380&t=st=1686812352~exp=1686812952~hmac=160166d5965988781756d13a7168dde20565b89bae2fca5623fbee79d29e9c4f" alt="">
</div>
<div class="container">
  <h1 class="text-center bg-black text-light m-2">Our Newly Launched Products</h1>
</div>




  <!-- Section-->


   <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of allproducts | filter:searchTerm : 'title'">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top"
                    [src]="product.image" >
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                          ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"  routerLink="viewproduct/{{product.id}}">View products</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>

